<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="description" content="Static site generator for GitHub Pages">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/main.css">
    <script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>
</head>
<body>
<div class="mdl-layout__container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="mdl-layout-icon"></div>
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <a class="mdl-layout-title l-title" href="/">how2</a>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/">About</a>
                    <a class="mdl-navigation__link" href="https://github.com/santinic/how2">GitHub</a>
                </nav>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
                    </div>
                </div>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout__title">Menu</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">About</a>
                <a class="mdl-navigation__link" href="https://github.com/santinic/how2">GitHub</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-grid max-width">
                <%- content %>
            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-grid max-width">
                    <div class="mdl-mini-footer__middle-section">
                        <ul class="mdl-mini-footer__link-list">
                            <li>Maintained by <a href="https://twitter.com/santinic">@santinic</a> with help from <a href="https://github.com/santinic/how2/graphs/contributors">contributors</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </main>
    </div>
</div>
<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-XXXXXX-XX','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
